<md-dialog aria-label="Profile" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Profile</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                x
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="profile">

            <img ng-src="{{vm.user.picture}}" class="face">
            <div class="username">{{vm.user.displayName}}</div>
            <div ng-if="vm.user.google">Google user</div>
            <div ng-if="vm.user.github">GitHub user</div>
        </div>
    </md-dialog-content>
</md-dialog>