<div layout="column" flex>
    <md-toolbar class="md-hue-1">
        <div class="md-toolbar-tools">
            <h3>
                <span>#profile</span>
            </h3>
        </div>
    </md-toolbar>

    <div layout="column" flex>
        <div class="profile">

            <img ng-src="{{vm.user.picture}}" class="face">
            <div class="username">{{vm.user.displayName}}</div>
            <div ng-if="vm.user.google">Google user</div>
            <div ng-if="vm.user.github">GitHub user</div>
        </div>
    </div>
</div>