<div layout="column" flex>
    <md-toolbar class="md-hue-1">
        <div class="md-toolbar-tools">
            <h3>
                <span>#room</span>
            </h3>
        </div>
    </md-toolbar>

    <div layout="column" flex>
        <md-content flex>
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="message in vm.messages" md-auto-focus="">
                    <img ng-src="{{message.img}}" class="md-avatar">
                    <div class="md-list-item-text">
                        <h3>{{message.name}} <small>{{message.date|date:'dd.MM.yyyy HH:mm:ss Z'}}</small></h3>
                        <p>
                            {{message.text}}
                        </p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>

        <div>
            <form layout="row" layout-margin>
                <md-input-container class="no-errors-spacer" flex>
                    <label>Message</label>
                    <input ng-model="vm.text" autocomplete="off">
                </md-input-container>
                <md-button type="submit" ng-click="vm.send()">
                    <md-icon>send</md-icon>
                    Send
                </md-button>
            </form>
        </div>
    </div>
</div>