<div layout="column" flex>

    <div layout="row" flex>

        <div layout="column" flex>
            <md-content flex>
                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="message in vm.messages" app-autoscroll="$last">
                        <a ng-click="vm.showProfile($event, message.userId)" ng-controller="userController as vm">
                            <img ng-src="{{message.img}}" class="md-avatar">
                        </a>
                        <div class="md-list-item-text">
                            <h3>{{message.name}} <small>{{message.date| date: 'mediumTime' }}</small></h3>
                            <p>
                                {{message.text | removeProfanity}}
                            </p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>

            <div>
                <form name="msForm" layout="row" layout-margin no-validate>
                    <md-input-container class="no-errors-spacer" flex>
                        <label>Message</label>
                        <input ng-model="vm.text" autocomplete="off" required ng-change="vm.onChange()">
                    </md-input-container>
                    
                    <md-button type="submit" ng-disabled="!msForm.$valid" ng-click="vm.send()">
                        <md-icon>send</md-icon>
                        Send
                    </md-button>
                   
                </form>
            </div>
        </div>

        <md-sidenav class="md-sidenav-left"
                    md-component-id="users"
                    md-is-locked-open="$mdMedia('gt-sm')"
                    md-disable-backdrop
                    md-whiteframe="4">
            <md-toolbar>
                <h1 class="md-toolbar-tools">Online users</h1>
            </md-toolbar>
            <md-content flex>
                <md-list>
                    <md-list-item ng-repeat="user in vm.users">
                        <a ng-click="vm.showProfile($event, user.userId)" ng-controller="userController as vm">
                            <img ng-src="{{user.img}}" class="md-avatar">
                        </a>
                        <div class="md-list-item-text">
                            <h3>{{user.name}} <small ng-show="user.typing" class="md-caption">typing...</small></h3>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
    </div>
</div>